body {
    font-family: "Open Sans", sans-serif;
    background-size: auto;
    background: url("/image/step01.gif");
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: rgba(
        255,
        255,
        255,
        0.329
    ); /* Updated to rgba to include opacity */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(189, 187, 187, 0.377);
}

.aa-signin-area {
    text-align: center;
}

.aa-signin-form-title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.aa-single-field {
    margin-bottom: 15px;
    text-align: start;
}

label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 16px;
    background-color: rgba(
        255,
        255,
        255,
        0.5
    ); /* Set background color with opacity */
}

input[type="checkbox"] {
    margin-top: 5px;
}

.aa-single-submit {
    margin-top: 20px;
}

.aa-browse-btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    background-color: #337ab7;
    border: 1px solid #2e6da4;
    border-radius: 4px;
    cursor: pointer;
}

p {
    margin-top: 15px;
    font-size: 14px;
    color: #666;
}

.google-button {
    background: linear-gradient(to right, #4285f4, #34a853, #fbbc05, #ea4335);
    color: #ffffff;
    border: 1px solid #4285f4;
    border-radius: 4px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;

    &:hover {
        background: linear-gradient(
            to right,
            #3470d2,
            #2a62bf,
            #e0a000,
            #d23638
        );
    }

    &:focus {
        outline: none;
        box-shadow: 0 0 0 3px rgba(66, 133, 244, 0.5);
    }
}
